<div class="min-h-screen flex items-center justify-center w-full bg-gray-100">
  <div class="absolute top-2 left-2 animate-fadein animate-duration-500">
    <img src="images/logos/rum.png" class="h-20 sm:h-32" alt="" />
  </div>
  <div
    class="flex flex-col bg-white rounded-xl shadow-lg p-8 animate-fadeinup animate-duration-500 w-11/12 sm:w-[450px]"
  >
    <div class="sm:mx-auto mb-4">
      <img class="mx-auto h-16" src="images/icons/app.png" alt="Icon app" />
    </div>
    <div class="sm:mx-auto mb-6">
      <p class="text-center text-xl font-bold tracking-wide">
        Inicio de Sesion
      </p>
      <p class="text-center">
        Ingrese sus datos proporcinados al momento de registrar sus mascotas
      </p>
    </div>
    <form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="login()">
      <div class="card flex justify-center">
        <div pFocusTrap class="w-full flex flex-col gap-6">
          <div class="flex flex-col gap-1">
            <p-iconfield>
              <input
                type="text"
                pInputText
                id="input"
                formControlName="dni"
                type="text"
                placeholder="Numero de Carnet"
                [fluid]="true"
              />
              <p-inputicon>
                <i class="pi pi-id-card"></i>
              </p-inputicon>
            </p-iconfield>
            @if(loginForm.get("dni")?.invalid && loginForm.get('dni')?.dirty){
            <p-message severity="error" variant="simple" size="small">
              {{ loginForm.get("dni")?.errors | formErrorMessages:errorMessages?.['dni'] }}
            </p-message>
            }
          </div>
          <div class="flex flex-col gap-1">
            <p-datepicker
              placeholder="Fecha de Nacimiento"
              styleClass="w-full"
              class="w-full"
              [iconDisplay]="'input'"
              [showIcon]="true"
              [maxDate]="maxDate"
              formControlName="birthDate"
              appendTo="body"
            >
              <ng-template pTemplate="footer">
                <p-button class="p-datepicker-prev hidden">Previous</p-button>
                <p-button class="p-datepicker-next hidden">Next</p-button>
              </ng-template></p-datepicker
            >
            @if(loginForm.get("birthDate")?.invalid &&
            loginForm.get('birthDate')?.dirty){
            <p-message severity="error" variant="simple" size="small">
              {{ loginForm.get("birthDate")?.errors | formErrorMessages }}
            </p-message>
            }
          </div>
          @if (message()) {
          <div class="card">
            <p-message
              severity="error"
              icon="pi pi-times-circle"
              styleClass="mb-2"
              [life]="3000"
              [closable]="false"
              >{{ message() }}
            </p-message>
          </div>
          }
          <p-button
            type="submit"
            label="Ingresar"
            [loading]="isLoading()"
            [disabled]="loginForm.invalid"
            styleClass="w-full"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="absolute bottom-4 w-full flex justify-center animate-fadein animate-duration-500">
    <div class="flex items-center space-x-2 text-sm text-gray-500">
      <img
        src="images/logos/escudo_alcaldia.png"
        alt="Icono"
        class="h-12 sm:h-16"
      />
      <div>
        <p class="font-bold">Gobierno Autónomo Municipal de Sacaba</p>
        <p>Una ciudad con valor</p>
      </div>
    </div>
  </div>
</div>
