<div class="flex items-center py-3 px-2 sm:px-6 gap-x-2">
  <div>
    <p-button
      icon="pi pi-arrow-left"
      [rounded]="true"
      [text]="true"
      (onClick)="back()"
    />
  </div>
  <div class="text-xl">Detalle</div>
</div>

@if(pet()){
<div
  class="flex items-center gap-y-4 sm:gap-y-0 gap-x-0 sm:gap-x-8 flex-col sm:flex-row"
>
  <div class="w-full sm:w-2/5">
    <div class="flex justify-center">
      @if(pet().image){
      <img [src]="pet().image" class="max-w-80" />
      } @else {
      <img src="images/no-image.jpg" />
      }
    </div>
  </div>
  <div class="w-full sm:w-3/5">
    <div class="px-2 sm:px-0">
      <p class="text-base/7 text-3xl font-semibold text-gray-900">
        {{ pet()?.name }}
      </p>
    </div>
    <div class="mt-6 border-t border-gray-100">
      <dl class="divide-y divide-gray-100">
        <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm/6 font-medium text-gray-900">Codigo</dt>
          <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
            {{ pet()?.code }}
          </dd>
        </div>
        <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm/6 font-medium text-gray-900">Raza</dt>
          <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
            {{ pet()?.breed?.species }} - {{ pet()?.breed?.name }}
          </dd>
        </div>
        <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm/6 font-medium text-gray-900">Color</dt>
          <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
            {{ pet()?.color }}
          </dd>
        </div>

        <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm/6 font-medium text-gray-900">Macho/Hembra</dt>
          <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
            {{ pet()?.sex }}
          </dd>
        </div>
        <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm/6 font-medium text-gray-900">Esterilizado</dt>
          <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
            {{ pet()?.is_neutered ? "SI" : "NO" }}
          </dd>
        </div>
        <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm/6 font-medium text-gray-900">
            Fecha esterilizacion
          </dt>
          <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
            {{ (pet()?.neuter_date | date : "short") ?? "-----" }}
          </dd>
        </div>
        <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm/6 font-medium text-gray-900">Fecha registro</dt>
          <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
            {{ pet()?.createdAt | date : "shortDate" }}
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
<div class="px-2 sm:px-6 mt-8">
  <p-table [value]="history()" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
      <tr>
        <th>Categoria</th>
        <th>Nombre</th>
        <th>Lugar</th>
        <th>Fecga</th>
      </tr>
    </ng-template>
    <ng-template #body let-product>
      <tr>
        <td>{{ product.typeTreatment.category }}</td>
        <td>{{ product.typeTreatment.name }}</td>
        <td>{{ product.medicalCenter.name }}</td>
        <td>{{ product.date }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
}
