<div class="card px-2 sm:px-6 animate-fadein">
  @if(!isLoading()){
  <p-dataview #dv [value]="pets()" [layout]="layout">
    <ng-template #header>
      <div class="flex justify-between items-center">
        <div class="px-0 sm:px-4">
          <h3 class="text-xl font-semibold text-gray-900">
            {{ user()?.fullname }}
          </h3>
          <p class="max-w-2xl text-md text-gray-500">
            Total de mascotas registradas: {{ pets().length }}
          </p>
        </div>
        <div class="hidden sm:block">
          <p-selectbutton
            [(ngModel)]="layout"
            [options]="options"
            [allowEmpty]="false"
          >
            <ng-template #item let-item>
              <i
                class="pi"
                [ngClass]="{
                  'pi-bars': item === 'list',
                  'pi-table': item === 'grid'
                }"
              ></i>
            </ng-template>
          </p-selectbutton>
        </div>
      </div>
    </ng-template>
    <ng-template #list let-items>
      <div *ngFor="let item of items; let first = first" class="animate-fadein">
        <div
          class="flex flex-col sm:flex-row sm:items-center p-6 gap-6"
          [ngClass]="{
            'border-t border-surface-200 dark:border-surface-700': !first
          }"
        >
          <div class="w-full sm:w-40 h-40 relative overflow-hidden">
            <img
              class="block xl:block mx-auto rounded-xl w-full h-full object-cover"
              [src]="item.image"
              [alt]="item.name"
            />
          </div>

          <div
            class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6"
          >
            <div
              class="flex flex-row md:flex-col justify-between items-start gap-2"
            >
              <div>
                <div class="text-xl font-semibold mt-2">
                  {{ item.name | titlecase }}
                </div>
                <span class="font-medium text-surface-500 text-sm">
                  {{ item.breed.species }} - {{ item.breed.name }}
                </span>
              </div>
              <div>{{ item.sex | titlecase }}</div>
            </div>
            <div class="flex flex-col md:items-end gap-8">
              <span class="text-lg font-semibold">
                Registrado el {{ item.createdAt | date : "longDate" }}
              </span>
              <div class="flex flex-row-reverse md:flex-row gap-2">
                <button
                  pButton
                  icon="pi pi-eye"
                  label="Detale"
                  (click)="showDetail(item)"
                ></button>
                <button
                  pButton
                  icon="pi pi-file"
                  label="Registro"
                  severity="secondary"
                  (click)="generatePetSheet(item)"
                ></button>
                <button
                  pButton
                  icon="pi pi-credit-card"
                  label="Carnet"
                  severity="secondary"
                  class="flex-auto md:flex-initial whitespace-nowrap"
                  (click)="generateIdCard(item)"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #grid let-items>
      <div class="grid grid-cols-12 gap-4 animate-fadein">
        <div
          *ngFor="let item of items"
          class="col-span-12 sm:col-span-6 md:col-span-4 xl:col-span-6 p-2"
        >
          <div class="p-6 border border-surface-200 rounded flex flex-col">
            <div class="bg-surface-50 flex justify-center rounded p-4">
              <div class="relative mx-auto">
                <img
                  class="rounded-xl w-full h-[200px] object-cover"
                  [src]="item.image"
                  [alt]="item.name"
                />
              </div>
            </div>
            <div class="pt-6">
              <div class="flex flex-row justify-between products-start gap-2">
                <div>
                  <div class="text-lg font-medium mt-1">{{ item.name }}</div>
                  <span
                    class="font-medium text-surface-500 dark:text-surface-400 text-sm"
                    >{{ item.breed.species }} - {{ item.breed.name }}</span
                  >
                </div>
                <div>
                  {{ item.sex | titlecase }}
                </div>
              </div>
              <div class="flex flex-col gap-6 mt-6">
                <span class="text-xl font-semibold">{{
                  item.createdAt | date : "longDate"
                }}</span>
                <div class="flex gap-2">
                  <button
                    pButton
                    icon="pi pi-eye"
                    label="Detalle"
                    class="flex-auto whitespace-nowrap"
                    (click)="showDetail(item)"
                  ></button>
                  <button
                    pButton
                    icon="pi pi-credit-card"
                    severity="secondary"
                    (click)="generateIdCard(item)"
                  ></button>
                  <button
                    pButton
                    icon="pi pi-file"
                    severity="secondary"
                    (click)="generatePetSheet(item)"
                  ></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataview>
  } @else {
  <div class="p-6">
    <p-skeleton height="2.5rem" width="20rem" styleClass="mb-4" />
    @for (item of items; track $index) {
    <div class="flex items-center flex-col sm:flex-row mt-12 gap-2 sm:gap-8">
      <div class="h-36 w-full sm:w-36">
        <p-skeleton width="100%" height="100%" borderRadius="16px" />
      </div>
      <div class="flex-1 flex flex-row sm:flex-col gap-2">
        <div class="w-20 sm:w-96 h-8">
          <p-skeleton height="100%" width="100%" borderRadius="16px" />
        </div>
        <div class="w-48 sm:w-48 h-6">
          <p-skeleton width="100%" height="100%" borderRadius="16px" />
        </div>
      </div>
    </div>
    }
  </div>
  }
</div>

<p-dialog
  header="Información de la mascota"
  [modal]="true"
  [draggable]="false"
  [(visible)]="visible"
  [style]="{ width: '35rem' }"
  [breakpoints]="{ '1199px': '60vw', '575px': '90vw' }"
  [maximizable]="true"
  (onHide)="selectedPet.set(null)"
>
  @if(selectedPet()){
  <pet-info [pet]="selectedPet()!" />
  }
</p-dialog>
